body {
  margin: 0px;
}

a.footer:visited {
  color: #dad0bb;
}

a.footer:visited {
  color: #dad0bb;
}

/* #fullscreen::before {
  content: "";
  background-image: url("static/images/library.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
} */
